.section {
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        padding: 100px 0px;
        font-size: 50px;
    }

    .beersArea {
        display: flex;
        flex-wrap: wrap;
        .beer {
            height: 500px;
            border-radius: 5px;
            margin-left: 20px;
            margin-top: 20px;
            width: 280px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px 10px;
            background: #f9f9f9;
            .beerImgHome{
                width: 80px;
                height: 50%;
                img {
                    width: 80px;
                    height: 250px;
                }
            }
            .beerInfo {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 50%;
                justify-content: space-around;
                margin-top: 20px;
                span {
                    font-size: 18px;
                }

                .beerName {
                    font-weight: bold;
                }

                .moreIformation {
                    cursor: pointer;
                    margin-top: 20px;
                    background-color: #005B62;
                    padding: 10px;
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    border: none;
                    color: #FFF;
                    font-size: 18px;
                }
            }

        }

        .paginationArea {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-right: 50px;

            .firstPage {
                padding: 10px;
                background-color: #005B62;
                color: #FFF;
                border-radius: 5px;
                cursor: pointer;
            }

            .iconAreaPagination {
                display: flex;
                align-items: center;
                width: 20%;
                justify-content: space-around;

                .previousPage {
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    svg {
                        height: 40px;
                        width: 40px;
                    }
                }

                .currentPage {
                    font-size: 18px;
                    font-weight: bold;
                }

                .nextPage {
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    svg {
                        height: 40px;
                        width: 40px;
                    }

                }
            }


        }

    }
}

@media screen and (max-width: 950px) {
    .section{
        margin-left: 0px;
        h1{
            padding: 50px 0px;
        }
        .beersArea{
            justify-content: center;
            .beer{
                margin: 0;
                margin-bottom: 10px;
            }
            .paginationArea{
                .iconAreaPagination{
                    width: 30%;
                    justify-content: space-between;
                }
            }
        }
    }
}